$color-red: #FF2E2E;
$color-purple: #BC2EFF;
$color-green: #BAF219;
$main-color: #F6F6F6;
$color-white: #FFFFFF;
$color-gray-140: #F2F2F2;
$color-gray: #878686;
$color-gray-light: #828282;
$color-black: #000000;
$color-lila: #E8DAFE;

